@use "../../styles/colors.scss" as *;

.appTF {
  &_helpTxt {
    margin-left: 8px !important;
    color: $text-muted;
  }

  &_errTxt {
    margin-left: 8px !important;
    color: $text-error;
  }
}
