@use "@mimik/ui/src/styles/colors.scss" as *;

$cardWidth: 300px;
$cardHeight: 200px;

.workspace {
  &_add {
    height: $cardHeight;
    width: $cardWidth;

    border-style: dashed !important;

    &_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &_icon {
        height: 36px;
        width: 36px;
        background-color: $primary;
        border-radius: 32px;
        color: $on-primary;
        padding: 4px;
      }
    }
  }

  &_item {
    height: $cardHeight;
    width: $cardWidth;

    &_img {
      width: 100%;
      height: calc($cardHeight * 0.5);
    }

    // metadata
    &_md {
      display: flex;
      flex-direction: row;
      justify-content: end;

      &_projects {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        justify-content: flex-end;
        font-size: small;
      }
    }

    &_name {
      white-space: nowrap;
      max-lines: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_desc {
      white-space: nowrap;
      max-lines: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
