.appBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;

  &-text {
    flex: 4;
    margin-top: 8px;
    font-weight: bold;
  }

  &-actions {
    float: inline-end;
    flex: auto;
  }

  &-button {
    margin-left: 8px;
    margin-top: 8px;
  }

  &-icon {
    height: 32px;
    width: 32px;
  }
}
