@use "./breakpoints.scss" as *;
@use "./margin.scss" as *;
@use "./colors.scss" as *;

.nCol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  @include media("<900px") {
    flex-direction: column;
  }
}

.nColChild {
  flex: 1;

  @include media("<900px") {
    width: 100%;
  }
}

.height-fit-content {
  height: fit-content;
}

.text-muted {
  color: $textMutedDark;
}
