@use "./breakpoints.scss" as *;

.nCol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  @include media("<900px") {
    flex-direction: column;
  }
}

.nColChild {
  flex: 1;

  @include media("<900px") {
    width: 100%;
  }
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.height-fit-content {
  height: fit-content;
}
