@font-face {
  font-family: "SF-Pro-Display";
  src: url("../assets/fonts/sf-pro/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../assets/fonts/sf-pro/SF-Pro-Display-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../assets/fonts/sf-pro/SF-Pro-Display-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../assets/fonts/sf-pro/SF-Pro-Display-RegularItalic.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../assets/fonts/sf-pro/SF-Pro-Display-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../assets/fonts/sf-pro/SF-Pro-Display-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../assets/fonts/sf-pro/SF-Pro-Display-Semibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../assets/fonts/sf-pro/SF-Pro-Display-SemiboldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../assets/fonts/sf-pro/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../assets/fonts/sf-pro/SF-Pro-Display-BoldItalic.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../assets/fonts/sf-pro/SF-Pro-Display-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../assets/fonts/sf-pro/SF-Pro-Display-BlackItalic.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
}
