@use "../../styles/constants.scss" as *;

.home-content {
  display: flex;
  flex-direction: row;

  &-nav-menu {
    flex: 2;
  }

  &-body {
    height: calc(100vh - $navBarHeight - 4px);
    max-height: calc(100vh - $navBarHeight - 4px);
    width: calc(100vw - $navRailMenuWidth);
    max-width: calc(100vw - $navRailMenuWidth);
    overflow-y: scroll;
    padding: 16px;
  }
}
