.listItem {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  padding: 8px;

  &-title {
    margin: 0;
    font-weight: bold;
  }

  &-content {
    margin: 0;
  }
}

.ipLi {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  font-size: medium;

  &-ip {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
  }

  &-button {
    margin-right: 8px;
  }

  &:hover {
    background: rgb(230, 230, 230);
  }
}
