.basicUser {
  vertical-align: middle;

  &-id {
    margin-right: 16px;
    margin-top: auto;
    margin-bottom: auto;
    background: gray;
  }

  &-name {
    flex: 6;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: flex-start;
    font-weight: 500;
  }

  &-button {
    flex: 2;
  }
}
